<tr id="<%= dom_id food %>">
  <th scope="row"> <%= food.id %> </th>
  <td>
    <%= food.name %>
  </td>

  <td>
    <%= food.measurement_unit %>
  </td>

  <td>
    <%= food.price %>
  </td>

  <td>
    <%= button_to "Delete", @food, method: :delete %>
  </td>

</tr>
