<div class="container">
   <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Recipes", user_recipes_path %></li>
        <li><%= link_to "List of Inventories", user_inventories_path %></li>
        <li><%= link_to "Food List", foods_path %></li>
        <li><%= link_to "New Food", new_food_path %></li>
        
      </ul>
   </nav>
</div>